<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid justify-content-center">
    <p class="text-uppercase text-danger text-center fs-1 ">Desafio Target</p>

  </div>
</nav>

<ul class="list-group">
  <p class="text-uppercase text-danger text-center fs-1 ">Resposta questão 1</p>
   <li class="list-group-item d-flex justify-content-between  align-items-center fs-4">
  Resultado questão 1
    <span class="badge text-bg-primary rounded-pill">{{soma}}</span>
  </li>
   <p class="text-uppercase text-danger text-center fs-1 ">Resposta questão 3</p>
  <li class="list-group-item d-flex justify-content-between  align-items-start fs-4">
   Maior Valor
    <span class="badge text-bg-primary rounded-pill">{{result.highestValue}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between  align-items-center fs-4">
   Menor Valor
    <span class="badge text-bg-primary rounded-pill">{{result.lowValue}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between  align-items-center fs-4">
  Maior que média mensal
    <span class="badge text-bg-primary rounded-pill">{{result.aboveAverage.length}}</span>
  </li>
  <p class="text-uppercase text-danger text-center fs-1 ">Resposta questão 4</p>
  <li class="list-group-item d-flex justify-content-between  align-items-start fs-4">
  %
    <span class="badge text-bg-primary rounded-pill">{{percentages.SP}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between  align-items-center fs-4">
   %
    <span class="badge text-bg-primary rounded-pill">{{percentages.RJ}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between  align-items-center fs-4">
    %
    <span class="badge text-bg-primary rounded-pill">{{percentages.MG}}</span>
  </li>
   <li class="list-group-item d-flex justify-content-between  align-items-center fs-4">
    %
    <span class="badge text-bg-primary rounded-pill">{{percentages.ES}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between  align-items-center fs-4">
    %
    <span class="badge text-bg-primary rounded-pill">{{percentages.OUTROS}}</span>
  </li>
  <p class="text-uppercase text-danger text-center fs-1 ">Resposta questão 5</p>
  <li class="list-group-item d-flex justify-content-between  align-items-center fs-4">
   {{entrada}}
    <span class="badge text-bg-primary rounded-pill">{{invertida}}</span>
  </li>
  
</ul>